/*---------------------------------- NAV ----------------------------------*/

.logoCommander {
    width: 190px;
    height: 47.6px;
    background: url('../../images/logo_mtg.png');
    background-size: cover;

}

nav {
    height: 6em;
    background-color: rgba(44, 49, 69, 0.45);
}

.navbar-nav {
    padding-left: 200px;
}

.jumbotron {
    background: url('../../images/jumbotron_wallpaper.jpg');
    background-size: cover;
}

nav.navbar{
// Animation
-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

nav.navbar.shrink {
    height: 2.75em;

}

.logo.shrink {
    width: 176.5px;
    height: 48px;
    background: url('../../images/logo_mtg.png');
    background-size: cover;
}

/*---------------------------------- /NAV ----------------------------------*/

/*---------------------------------- FONTS ----------------------------------*/

@font-face {
    font-family: Magic;
    src: local("MAGIC"),
    url(../fonts/MAGIC.TTF);
    font-weight: bold;
}

body {
    font-family: "Magic", serif;
}

.btn {
    font-family: "Magic", serif;
}

.nav-link {
    font-size: x-large;
}

/*---------------------------------- /FONTS ----------------------------------*/

/*---------------------------------- INDEX ----------------------------------*/

.jumbotron {
    margin-top: 96px;
}

.LoginColor{
    color: rgb(239, 77, 37) !important;
    border-color: rgb(239, 77, 37) !important;
}

body {
    background-color: rgba(44, 49, 69, 0.45);
}



/*---------------------------------- /INDEX ----------------------------------*/

/*---------------------------------- COMMANDERS ----------------------------------*/

#btnNewGame, #btnPlayers {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(239, 77, 37);
}

.bg-danger{
    background-color: rgb(239, 77, 37) !important;
}

.btn-primary {
    background-color: black;
    border-color: rgb(239, 77, 37) !important;
}

.btn-primary:hover {
    background-color: rgb(53, 46, 41) !important;
    border-color: rgb(239, 77, 37) !important;
}

.newGameColor {
    background-color: rgb(114, 120, 45) !important;
}

.btn, .active {
    transition: .4s;
}

#arrowPlayer {
     width: 40px;
     height: 40px;
     margin-left: 10px;
     display: none;
 }

#arrowPick {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: none;
}

.playerPickMainScreen{
    width: 100px;
    height: 24px;
    margin-left: 10px;
    display: none;
}

#btnPlayers {
    display: none;
}

.playerPickPlayer {
    padding: 0px;
    width: 100px;
    font-size: larger;
    display: inline-block;
}

.playerPickColor {
    padding: 0px;
    width: 100px;
    margin-left: 10px;
    display: inline-block;
}

.btn-sm {
    height: 23px;
    margin-bottom: 12px;
}

.hiddenButton {
    display: none;
}

/*---------------------------------- COLORS ----------------------------------*/

.red{
    width: 20px;
    height: 10px;
    background-color: red;
}

.blue{
    width: 20px;
    height: 10px;
    background-color: blue;
}

.yellow{
    width: 20px;
    height: 10px;
    background-color: yellow;
}

.green{
    width: 20px;
    height: 10px;
    background-color: green;
}

.black{
    width: 20px;
    height: 10px;
    background-color: black;
}

.violet {
    width: 20px;
    height: 10px;
    background-color: violet;
}

.firstPickBorder {
    border: solid 3px red !important;
}

.secondPickBorder {
    border: solid 3px blue !important;
}

.thirdPickBorder {
    border: solid 3px yellow !important;
}

.fourthPickBorder {
    border: solid 3px green !important;
}

.fifthPickBorder {
    border: solid 3px black !important;
}

.sixthPickBorder {
    border: solid 3px violet !important;
}

.lobbyColorMargin {
    margin-top: 3px;
    margin-bottom: 26.5px;
}

/*---------------------------------- /COLORS ----------------------------------*/

/*---------------------------------- /COMMANDERS ----------------------------------*/

/*---------------------------------- GAME ----------------------------------*/

#tables {
    border-radius: 15px;
    border: solid 1px black;
    background: white;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 1);
}

td {
    width: 500px;
}

.card-img-top {
    height: 275px;
}

#players {
    width: 600px;
    margin: auto;
    overflow-y: auto;
    max-height: 800px;
}

.btn-success {
   margin-left: 5px !important;
   margin-top: 5px !important;
   font-family: Serif;
    border-color: rgb(239, 77, 37) !important;
}

.spearator {
    margin-right: 50px !important;
}

#undo {
    margin-top: 25px;
}

.btnUndo, .btnCombatLog {
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.bottomBorderClass{
    border-bottom: solid 2px black;
}

.tableRowBodyFontFamilyAndSize {
    font-size: x-large;
    font-family: Serif;
}

.cardContent {
    height: 305px;
}

.commanderFit {
    height: 400px;
}

th {
    padding: 0 0 0 11px !important;
    font-size: larger !important;
}

table {
    margin-bottom: 0;
}